{% extends 'base.html' %}

{% block content %}
<div class="container">
<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Длина</th>
        <th scope="col">Пароль</th>
      </tr>
    </thead>
        <tbody>
          <tr>
            <th scope="row">{{length}}</th>
            <td>🛡️ {{password}}</td>
          </tr>
        </tbody>
        <tbody>
            <tr>
              <th scope="row">{{length}}</th>
              <td>🛡️ {{password1}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">{{length}}</th>
              <td>🛡️ {{password2}}</td>
            </tr>
          </tbody>
  </table>
  <a href="{% url 'main' %}"><button class="btn btn-dark"> Назад</button></a>
</div>

{% endblock %}